@charset "utf-8";

/* 회원가입 성공 페이지 */
.join table {
	font-size: 120%;
	font-weight: bold;
	text-align: center;
}

.join>h1, .joinForm>h1, .memberUpdate>h1, .pwdCheck>h1 {
	text-align: center;
	font-size: 40px;
	padding: 25px 0 65px;
	position: relative;
	margin-top: 90px;
	height: 100px;
	color: black;
	font-weight: bold;
	letter-spacing: 8px;
	line-height: 100px;
}

.join>h1:after, .joinForm>h1:after, .memberUpdate>h1:after, .pwdCheck>h1:after
	{
	content: "";
	display: block;
	border-top: 1px solid #bd8a61;
	width: 50px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -25px;
}

.join #resultMsg {
	text-align: center;
	font-size: 170%;
}

.join>h2 {
	font-size: 130%;
	margin-left: 140px;
	margin-top: 60px;
	margin-bottom: 20px;
}

/* 회원 정보 */
.memberInfo {
	width: 80%;
	margin: auto;
	border-collapse: collapse;
	border-top: 5px solid #bd8a61;
}

.memberInfo th {
	padding: 15px;
}

.memberInfo td {
	padding: 15px 0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
	vertical-align: middle;
}

/* 회원가입 페이지, 회원 정보 수정 페이지*/
.frmJoinTbl, .frmUpdtTbl {
	width: 70%;
	margin: auto;
	border: 1px solid #dadada;
	border-top: 2px solid #989898;
	border-bottom: 2px solid #989898;
	padding: 100px;
}

.frmJoinTbl #idChkBtn, .frmJoinTbl #adminnoChkBtn, .frmUpdtTbl #adminnoChkBtn {
	width: 135px;
	height: 47px;
	background: #bd8a61;
	color: #fff;
	font-weight: 900;
}

.frmJoin input, .frmUpdt input {
	display: inline-block;
	padding: 0 10px;
	height: 47px;
	line-height: 47px;
	background: #f8f8f8;
	width: 200px;
	border: 1px solid #dadada;
	margin: 0 10px;
}

input[type="radio"] {
	margin-top: -1px;
	vertical-align: middle;
}

.frmJoinTbl tr:nth-child(6) input, .frmUpdtTbl tr:nth-child(6) input {
	width: 500px;
}

.frmJoinTbl tr:nth-child(7) input, .frmUpdtTbl tr:nth-child(7) input {
	width: 250px;
}

.frmJoinTbl tr th, .frmUpdtTbl tr th {
	width: 180px;
	color: #2f2b29;
	border-radius: 3px;
	font-weight: 300;
	height: 44px;
	line-height: 44px;
	vertical-align: middle;
	padding: 20px 0;
}

.frmJoinTbl #admin, .frmUpdtTbl #admin, .frmJoinTbl #user, .frmUpdtTbl #user
	{
	width: 35px;
	height: 25px;
}

.frmJoin #adminno {
	position: absolute;
	margin-top: -40px;
	margin-left: 252px;
}
/* 아이디 중복 체크 화면 */
.idCheck, .adminnoCheck {
	text-align: center;
}

.idCheck input, .adminnoCheck input {
	margin-bottom: 15px;
}

.idCheck #userid, .adminnoCheck #adminno {
	width: 200px;
	height: 35px;
}

.idCheck #idCheckBtn, .adminnoCheck #adminnoCheckBtn {
	width: 95px;
	height: 33px;
	background: #bd8a61;
	color: #fff;
	border: 1px solid #bd8a61;
}

.idCheck #idCheckBtn:hover, .adminnoCheck #adminnoCheckBtn:hover {
	background: #a97347;
}

.idCheck #idOkBtn, .adminnoCheck #adminnoOkBtn {
	width: 95px;
	height: 33px;
	background: #8e5f3c;
	color: #fff;
	border: 1px solid #8e5f3c;
}

.idCheck #idOkBtn:hover, .adminnoCheck #adminnoOkBtn:hover {
	background: #65442c;
}

/* 회원정보 수정 전 비밀번호 확인 페이지 */
.pwdCheck {
	text-align: center;
}

.pwdCheck h2 {
	font-size: 130%;
	margin-top: 60px;
	margin-bottom: 20px;
}

.pwdCheck form {
	margin-top: 40px;
}

.pwdCheck #pwd {
	width: 200px;
	height: 35px;
	margin-left: 15px;
}

.pwdCheck #pwdCheckBtn {
	width: 95px;
	height: 37px;
	background: #bd8a61;
	color: #fff;
	border: none;
}

.pwdCheck #pwdCheckBtn:hover {
	background: #a97347;
}